.section {
  /* padding: 40px 20px; */
  background-color: #111;
  color: hsl(0, 0%, 100%);
  margin: 5% 15%;
  max-height: 600px;
  text-align: center;
}

.section-div {
  margin: 0 auto;
  width: 59%;
  font-family: 'Inter', sans-serif; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-family: 'Inter', sans-serif; 
  font-weight: bold;
  text-align: center;
  margin: 55px 0px 15px 0px;
}

.subtitle {
  font-size: 19px;
  margin-bottom: 32px;
   font-family: 'Inter', sans-serif; 
  font-weight: normal;
  text-align: center;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  min-height: 400px;
}

.carousel {
  display: flex;
  width: calc(40% * 3);
  animation: zigzag 20s linear infinite;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
}

.card {
  background: #333;
  border-radius: 10px;
  padding: 10px 0px;
  transition: transform 0.3s, border 0.3s;
  width: 20%;
  box-sizing: border-box;
  color: white;
  border: none;
  flex: 0 0 auto;
  margin: 5% 0px;
  max-height: 250px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  border: 1px solid #fff;
  transform: translateY(-10px);
}

.avatar {
  margin-bottom: 4px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.name {
  margin-bottom: 4px;
  font-size: 18px;
  color: #fff;
}

.content {
  font-size: 16px;
  /* font-family: 'Times New Roman', Times, serif; */
  color: #ddd;
}

.card:nth-child(odd) {
  animation: zigzag 10s linear infinite, moveUp 10s linear infinite;
}

.card:nth-child(even) {
  animation: zigzag 10s linear infinite, moveDown 10s linear infinite;
}

@keyframes moveUp {
  0%, 10%, 50%, 90%, 100% {
    transform: translateY(0px);
  }
  30%, 70% {
    transform: translateY(-50px);
  }
}

@keyframes moveDown {
  0%, 10%, 50%, 90%, 100% {
    transform: translateY(0px);
  }
  30%, 70% {
    transform: translateY(50px);
  }
}

@keyframes zigzag {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .content {
    font-size: 14px;
  }
}
