.section {
  background-color: #111;
  color: hsl(0, 0%, 100%);
  margin: 5% 10%;
  max-height: 600px;
  text-align: center;
  -webkit-mask-image: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%);
  font-family: 'Inter', sans-serif; 
}

.section-div {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin: 55px 0px 15px 0px;
}

.subtitle {
  font-size: 19px;
  margin-bottom: 32px;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  min-height: 400px;
}

.carousel {
  display: flex;
  width: calc(30% * 3);
  animation: zigzag 20s linear infinite;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
}

.card {
  background: #333;
  border-radius: 10px;
  padding: 10px 0px;
  transition: transform 0.3s, border 0.3s;
  height: 58%;
  width: 25%;
  box-sizing: border-box;
  color: white;
  border: none;
  flex: 0 0 auto;
  margin: 5% 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  border: 1px solid #fff;
}

.avatar {
  margin-bottom: 4px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.name {
  margin-bottom: 4px;
  font-size: 18px;
}

.content {
  font-size: 14px;
  color: #ddd;
}

@media (max-width: 992px) {
  .section-div {
    width: 90%;
  }

  .carousel {
    width: calc(30% * 2);
  }

  .card {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .card {
    width: 80%;
    margin: 20px 0;
  }

  .content {
    font-size: 14px;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.card:nth-child(odd) {
  animation: zigzag 20s linear infinite, moveUp 2s ease-in-out infinite;
}

.card:nth-child(even) {
  animation: zigzag 20s linear infinite, moveDown 2s ease-in-out infinite;
}

@keyframes zigzag {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
